<%= label_tag name, text %>
<div class="form-group">
  <div class="input-group date">
    <%= event.text_field name, class: 'form-control', id: id %>
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
</div>