<%= label_tag name, text %>
<div class="form-group" id="<%= "#{name}-field-group" %>">
  <div class="date">
    <%= event.text_field name, required: true, class: 'form-control', id: "#{name}-picker" %>
  </div>
  <span class="error-text text-danger"></span>
</div>
