<div class="container">
  <table class="calendar table table-bordered table-striped table-responsive">
    <tr>
      <th class="col-md-1"></th>
      <% @days.each do |day| %>
        <th class="col-md-2 text-center"><%= day.strftime('%a %m/%d') %></th>
      <% end %>
    </tr>
    <% @times.each do |time| %>
      <tr>
        <td class="text-right">
          <small><%= time.strftime('%H:%M') %></small>
        </td>
        <% @days.each do |day| %>
          <% current_event = get_event(day, time) %>

          <% if current_event %>
              <td rowspan="<%= event_span(current_event) %>"><%= current_event.description %></td>
          <% elsif !event_ongoing?(day, time) %>
              <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

