$greenbtn: #417505;
$lightgreenbtn: #7ED321;
$bluebtn: #29C8DE;

$amount: 15%;

.event-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  flex-wrap: wrap;

  button {
    margin: 15px 15px;
    min-width: 100px;
    max-width: 30%;
    flex-grow: 1;
    border: 0;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #aaa;
    font-weight: bold;

    &.btn-primary {
      background: $greenbtn;
      box-shadow: 0 3px 0 darken($greenbtn, $amount);
      text-shadow: 0 -1px 0 darken($greenbtn, $amount);
    }

    &.btn-danger {
      background: $bluebtn;
      box-shadow: 0 3px 0 darken($bluebtn, $amount);
      text-shadow: 0 -1px 0 darken($bluebtn, $amount);
    }

  }
}
