$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

$font-size-h1: 1.8em;
$font-size-h2: 1.6em;
$font-size-h3: 1.5em;
$font-size-h4: 1.4em;
$font-size-h5: 1.2em;
$font-size-h6: 1em;

@import "~bootstrap-sass/assets/stylesheets/bootstrap/_variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/_mixins";
