@function stripUnit($arg){
  @return $arg/($arg * 0 + 1)
}

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

$font-size-h1: 1.5em;

$event-height: 2em;
$event-font-size: 14px;
$event-border: 1px;
$rowHeight: stripUnit($event-height) * $event-font-size + $event-border;

@import "~bootstrap-sass/assets/stylesheets/bootstrap/_variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/_mixins";
