.conference-room-container {
  font-size: 1.1em;

  .room-header {
    margin-bottom: 10px;
  }

  .clock-date, .clock-time {
    display: inline;
    margin-right: 10px;
  }

  .clock-time {
    font-size: 1.2em;
  }
}
