.conference-room-navbar {
  font-size: 1.2em;
  background: transparent;  

  .navbar-brand h2,
  .navbar-text h3 {
    font-size: 2em;
    margin: 0;
    padding: 0;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #aaa;
  }

  .navbar-brand,
  .navbar-nav > li > a,
  .navbar-text {
    color: #000 !important;
  }

  .clock-date, .clock-time {
    display: inline;
    margin-left: 30px;
    font-size: 0.8em;
  }

  .clock-time {
    font-size: 1.2em;
  }

  .navbar-text {
    margin: 0;
    padding: 12px;
  }

  .navbar-header {
    float: none;
  }

  .navbar-right {
    float: right;
  }

  .navbar-form {
    width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;

    button {
      background: transparent;
      border: 0;
      font-size: 2em;
    }
  }
}

.navbar-default {
  background: transparent;
  border: 0;
}
