.current-event-container {
  height: 82vh;
  background-color: #eee;
  border-radius: 5px;
  font-size: 1.1em;
  padding: 20px 30px 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .event-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 10px;
    flex-wrap: wrap;

    button {
      margin: 5px 10px;
      max-width: 30%;
      flex-grow: 1;
    }
  }
}
