$default-color: #eee;

.current-event-container {
  height: 82vh;
  background-color: $default-color;
  border-radius: 5px;
  font-size: 1.1em;
  padding: 20px 30px 5px;
  white-space: normal;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .time-progress {
    font-size: 3em;
  }
}

.end-time-warning {
  animation-name: blinker;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
}

@keyframes blinker {
  0% { background-color: $default-color; }
  50% { background-color: #a94442; }
  100% { background-color: $default-color; }
}
