$boxsh: 0 1px 0 rgba(0,0,0,0.5);

.next-event-container {
  padding: 5px 30px 5px;
  color: #fff;

  h2 {
    text-align: center;
    font-size: 1.8em;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    box-shadow: $boxsh;
    margin-bottom: 0;
    text-shadow: 0 1px 0 darken(#4a8b21, 5%), 0 2px 0 darken(#4a8b21, 10%);
  }

  .event-container {
    border-bottom: 1px solid #fff;
    padding: 10px 0 20px;
    box-shadow: $boxsh;

    .event-time {
      font-size: 1.4em;
    }
    .event-creator {
      margin-top: 5px;
      font-size: 0.8em;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .next-event-container {
    overflow: scroll;
    padding: 0;
  }
}
