$event-border-color: #f7f7f7;

.event {
  border: 1px solid $event-border-color;
  border-radius: 5px;
  position: absolute;
  flex-basis: 0;
  flex-grow: 1;
  height: 100%;

  > * {
    margin-left: 2%;
  }

  .event-time {
    font-size: 0.8em;
  }

  .event-creator,
  .event-location,
  .event-attendees {
    font-size: 0.9em;
  }
}

.event-container {
  padding: 5px 30px 5px;
  white-space: nowrap;

  .event-summary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.event,
.event-container {
  overflow: hidden;

  .event-time {
    margin-top: 2%;
    font-weight: bold;
  }

  .event-summary {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
  }

  .event-creator,
  .event-location,
  .event-attendees {
    > small {
      font-style: italic;
    }
  }

  .event-attendees {
    display: block;
    overflow: hidden;
    width: inherit;

    ul {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      list-style: none;
      padding-left: 0;

      li {
        display: inline;

        &:after {
          content: ',\00a0';
        }

        &:last-child:after {
          content: '';
        }
      }
    }
  }
}

.delete-button {
  position: absolute;
  float: right;
  display: block;
  margin-right: 5px;
  margin-top: 5px;
  opacity: 0.2;
  right: 0;
  top: 0;

  &.enabled {
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.delete-confirmation-modal {
  .modal-footer {
    text-align: center;
  }

  .modal-body {
    width: 75%;
    margin: auto;
  }
}
