$event-border-color: #f7f7f7;

.event {
  border: 1px solid $event-border-color;
  border-radius: 5px;
  position: absolute;
  flex-basis: 0;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;

  > * {
    margin-left: 2%;
  }

  .event-time {
    margin-top: 2%;
    font-size: 0.8em;
    font-weight: bold;
  }

  .event-name {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
  }

  .event-user,
  .event-location {
    font-size: 0.9em;

    > small {
      font-style: italic;
    }
  }
}

.delete-button {
  position: absolute;
  float: right;
  display: block;
  margin-right: 5px;
  margin-top: 5px;
  opacity: 0.2;
  right: 0;
  top: 0;

  &.enabled {
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.confirmation-footer {
  text-align: center;
  border-top: 0;
}
