.event {
  flex-basis: 0;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;

  border: 1px solid #F7F7F7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  > * {
    margin-left: 10%;

    &:first-child {
      margin-top: 10%;
    }
  }



  .event-time {
    font-weight: bold;
    font-size: 0.8em;
  }

  .event-name {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }

  .event-user, .event-location {
    font-size: 0.9em;

    > small {
      font-style: italic;
    }
  }
}
