html, body, .container {
  width: 100%;
}

.container {
  margin-top: 25px;
}

button {
  margin: 10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.calendar > tbody > tr {

  > td {
    padding-top: 0;
    padding-bottom: 1em;
  }

  .event {
    .event-time {
      font-weight: bold;
      font-size: 0.8em;
    }

    .event-name {
      margin: 0.2em 0;
    }

    .event-user, .event-location {
      font-size: 0.9em;

      > small {
        font-style: italic;
      }
    }
  }
}
