html, body, .container {
  width: 100%;
}

.container {
  margin-top: 25px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.calendar > tbody > tr {

  > td {
    padding-top: 0;
    padding-bottom: 1em;
  }
}

.event-container {
  position: absolute;
  display: flex;
  align-items: stretch;
}
