<!DOCTYPE html>
<html>
<head>
  <title>Confy :: Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>

  <%= stylesheet_link_tag 'scaffolds', options: { media: 'all', 'data-turbolinks-track' => true } %>
</head>

<body>
<%= yield %>
</body>
</html>
